/* TESTING 
.container{
    border: 5px solid green;
}

.row{
    border: 5px solid blue;
}

.my-col{
    border: 5px solid red;
}
*/


/* Body */

html {
    scroll-behavior: smooth;
    /* Smooth scrolling instead of snapping for better UX | source: 'gomakethings' (URL: https://gomakethings.com/how-to-animate-scrolling-to-anchor-links-with-one-line-of-css/) */
}

body {
    padding-top: 2.8rem;
    font-family: 'Raleway', sans-serif;
}

#banner {
    padding-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
}

.content-header {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.text-block {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* ./Body */


/* Colors */

.white-text {
    color: white;
}

.green-link {
    color: rgb(22, 160, 11);
}

.green-link:hover {
    color: rgb(22, 160, 11);
}

.bg-grey {
    background-color: rgba(29, 36, 42, 0.7);
}

.bg-green {
    color: white;
    background-color: rgb(16, 115, 8);
}

.btn-green {
    background-color: rgb(16, 115, 8);
    border-color: rgb(16, 115, 8);
}


/* ./Colors */


/* Buttons */

.btn-success:hover {
    color: #fff;
    background-color: rgb(21, 140, 12);
    border-color: rgb(21, 140, 12);
}

.btn-outline-success {
    background-color: white;
    color: rgb(21, 140, 12);
    border-color: rgb(21, 140, 12);
}

.btn-outline-success:hover {
    color: white;
    background-color: rgb(16, 115, 8);
    border-color: rgb(16, 115, 8);
}


/* ./Buttons */


/* Horizontal line */

.horizontal-line {
    background-color: rgb(29, 36, 42);
    height: 2.5px;
    width: 150px;
    border-radius: 25%;
    display: inline-block;
    box-shadow: 1px 1px rgba(29, 36, 42, 0.7);
}


/* ./Horizontal line */


/* Collapse */

.card-header .btn-link {
    color: white;
}

.card-header .btn-link i {
    width: 2rem;
    font-size: 1.25rem;
}


/* /.Collapse */


/* Form */

#form-container {
    min-height: calc(100vh - 18rem)/* Used same concept as for responsive font size | source: 'stackoverflow' (URL: https://stackoverflow.com/questions/23560087/is-there-such-a-thing-as-min-font-size-and-max-font-size/39962030) */
}

form {
    padding: 1rem;
    margin: auto;
}

#fname-div {
    padding-right: 0.25rem;
}

#lname-div {
    padding-left: 0.25rem;
}

.check-box-group {
    margin-left: 0rem;
}

.alternative-div {
    margin-top: 2rem;
}

.donation-amount-group,
.donation-type-group {
    margin: 0 1rem;
}

.fine-line {
    background-color: rgb(29, 36, 42);
    height: 2px;
    width: 150px;
    display: inline-block;
}


/* /.Form */


/* Navbar */

.navbar {
    background-color: rgba(29, 36, 42, 0.9);
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
}

.navbar-toggler {
    border: 0;
}

#nav-link-adopt {
    color: rgb(22, 160, 11);
    border-color: white;
    font-weight: 700;
}

.btn-navbar {
    font-size: 1.25rem;
}

button:focus {
    outline: none;
}


/* ./ Navbar */


/* Footer */

.footer-row {
    background-color: rgba(29, 36, 42, 0.9);
    min-height: 6rem;
}

.footer-components p,
.footer-components a {
    color: white;
    font-size: 0.95rem;
    padding: 0;
    margin: 0;
}

.footer-components ul {
    padding: 0.5rem;
    margin: 0;
}

#first-footer-component {
    margin-top: 1.5rem;
}

#last-footer-component {
    margin-bottom: 1.5rem;
}

#envelope {
    font-size: 1.1rem;
}


/* Icons with background softly changing color | source: 'Code Institute' (URL: https://courses.codeinstitute.net/courses/course-v1:codeinstitute+FE+2017_T3/courseware/616289d66b5641a3808cc43e53842695/b51f7b8b815c4bcd9979d2281b6d97a9/1?activate_block_id=block-v1%3Acodeinstitute%2BFE%2B2017_T3%2Btype%40html%2Bblock%40afee41b412ef4289a600177505f1042f) */

.social li a i,
.contact i {
    width: 2rem;
    height: 2rem;
    padding: 0.75rem 0;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 0.5rem;
    background-color: rgb(105, 111, 117);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    text-decoration: none;
    text-align: center;
}

.social li a i:hover,
.contact i:hover {
    background-color: rgb(16, 115, 8);
    outline: medium none;
}


/* /.Footer */


/* Modal */

#modal-phone .modal-body {
    text-align: center;
}


/* /.Modal */


/* Callout (index) */

.callout-container {
    height: 100vh;
    font-weight: 300;
    /* Full width background-image | source: 'CSS tricks' (URL: https://css-tricks.com/perfect-full-page-background-image/) */
    /* Source of the following picture is www.stock.adobe.com (URL https://stock.adobe.com/ie/images/bonobo-pan-paniscus-on-a-tree-branch/98710313?asset_id=98710313) */
    background: url("/assets/images/index/hero-image-mobile.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.callout-content .col-8 {
    background-color: rgba(29, 36, 42, 0.7);
}

.callout-content h1 {
    font-weight: 300;
    font-size: calc(1.5rem + 4vw);
    /* Responsive font size | source: 'stackoverflow' (URL: https://stackoverflow.com/questions/23560087/is-there-such-a-thing-as-min-font-size-and-max-font-size/39962030) */
}

.callout-content p,
.btn-callout {
    font-size: calc(0.75rem + 1vw);
}

.callout-content span {
    font-weight: 700;
}

.arrow-div {
    display: inline-block;
    margin-top: 8rem;
    margin-bottom: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.arrow-down {
    color: white;
    font-size: 2rem;
    margin-top: 0.5rem;
    -webkit-text-stroke: 2.5px rgba(29, 36, 42, 0.9);
    /* Make icon lighter | source: 'stackoverflow' (URL: https://stackoverflow.com/questions/28560118/want-to-make-font-awesome-icons-thinner)*/
    -moz-text-stroke: 2.5px rgba(29, 36, 42, 0.9);
    -o-text-stroke: 2.5px rgba(29, 36, 42, 0.9);
}


/* /.Callout (index)*/


/* Intro bonobos (index)*/

.bonobos-container {
    scroll-margin-top: 2.8rem;
    /* Prevents from scrolling behind fixed navbar | source: 'gomakethings' (URL: https://gomakethings.com/how-to-prevent-anchor-links-from-scrolling-behind-a-sticky-header-with-one-line-of-css/) */
}


/* /.Intro bonobos (index)*/


/* Intro program (index)*/

.program-box {
    border: 2px solid white;
    padding: 50px 10px;
}

.program-box i {
    font-size: 2rem;
}

#box-question {
    opacity: 0.8;
}

#box-question i {
    font-size: 3rem;
}

.program-box p {
    font-size: 1.25rem;
    margin: 0;
}


/* /.Intro program (index)*/


/* Call to action (index)*/

.call-to-action-link i {
    font-size: 2.5rem;
    color: rgb(29, 36, 42);
    padding: 5px;
}

.call-to-action-link a {
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(29, 36, 42);
    text-decoration: none;
}

.call-to-action-link:hover {
    -webkit-transform: scale(1.2);
    /* Increase size on hover | source: 'stackoverflow' (URL: https://stackoverflow.com/questions/14073498/how-do-i-create-a-change-in-font-size-on-hover-without-realigning-other-text) */
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}


/* /.Call to action (index)*/


/* Bonobos headings */

.general-container h2 {
    margin-bottom: 1rem;
}

.general-container h3,
.six-reasons-container h3,
.six-reasons-container h4 {
    font-weight: 400;
}


/* /.Bonobos headings */


/* General (bonobos)*/

.general-container img {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    max-height: 26rem;
}

.general-container {
    margin-bottom: 2.5rem;
}


/* /.General (bonobos)*/


/* 6 reasons why (bonobos)*/

.one-reason {
    padding-top: 2rem;
}

.one-reason i {
    width: 2.5rem;
    text-align: center;
    font-size: 1.75rem;
}

.img-lg-container {
    text-align: center;
}

.img-lg-container img {
    max-height: 21rem;
}

.horizontal-line {
    margin-top: 2.5rem;
}


/* /.6 reasons why (bonobos)*/


/* Quote (bonobos)*/

.quote-container {
    margin: 2rem auto;
}


/* /.Quote (bonobos)*/


/* Heading (about)*/

.about-heading-section {
    /* Source of the following picture is www.lameuse.be (URL https://www.lameuse.be/160682/article/2017-12-01/carolo-mag-claudine-carolo-du-bout-du-monde-lange-des-bonobos) */
    background: url("/assets/images/about/claudine-andre-with-bonobo-family-sm-opt-crop.jpg") no-repeat top center;
    height: 70vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-heading-section h2 {
    background-color: rgba(16, 115, 8, 0.7);
}


/* /.Heading (about)*/


/* Quote (about) */

.about-quote-section {
    height: calc(30vh - 3rem);
    /* Used same concept as for responsive font size | source: 'stackoverflow' (URL: https://stackoverflow.com/questions/23560087/is-there-such-a-thing-as-min-font-size-and-max-font-size/39962030) */
}

.about-quote-section p {
    text-align: center;
    font-size: calc(0.75rem + 0.75vw);
    /* Responsive font size | source: 'stackoverflow' (URL: https://stackoverflow.com/questions/23560087/is-there-such-a-thing-as-min-font-size-and-max-font-size/39962030) */
}

.about-quote-section .source {
    margin-bottom: 0;
}


/* /.Quote (about) */


/* Bonodopt (about) */

figcaption {
    font-style: italic;
    font-size: small;
    text-align: center;
    padding-top: 0.5rem;
}

.about-bonodopt-section figure {
    text-align: center;
}

.about-bonodopt-section img {
    max-height: 14rem;
}


/* /.Bonodopt (about) */


/* Note (about) */

.about-note-section {
    padding: 1rem 1rem 3rem 1rem;
    margin-bottom: 0;
}

.about-note-section img {
    padding-top: 1rem;
}


/* /.Note (about) */


/* Program */

.card-header .btn {
    text-transform: uppercase;
}

.card-body h5 {
    margin-top: 1.5rem;
}

#last-card {
    margin-bottom: 1rem;
}

.rehabilitation-container {
    padding: 2rem;
}

.rehabilitation-container img {
    max-height: 12rem;
    margin: 0.5rem;
}


/* Program */


/* Help (program) */

.help-section h4 {
    text-align: center;
    margin-top: 1rem;
}

.help-section .btn {
    margin-bottom: 3rem;
}


/* Help (program) */


/* Media queries */

@media only screen and (min-width: 650px) {
    .callout-container {
        /* Source of the following picture is www.stock.adobe.com (URL https://stock.adobe.com/ie/images/bonobo-pan-paniscus-on-a-tree-branch/98710313?asset_id=98710313) */
        background: url("/assets/images/index/hero-image-tablet.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media only screen and (min-width: 768px) {
    body {
        padding-top: 4.5rem;
    }
    .navbar-brand {
        font-size: 2rem;
    }
    .nav-link {
        font-size: 1.5rem;
    }
    .bonobos-container {
        scroll-margin-top: 4.5rem;
    }
    .call-to-action-link i {
        font-size: 3rem;
    }
    .call-to-action-link a {
        font-size: 1.5rem;
    }
    .about-heading-section {
        /* Source of the following picture is www.lameuse.be (URL https://www.lameuse.be/160682/article/2017-12-01/carolo-mag-claudine-carolo-du-bout-du-monde-lange-des-bonobos) */
        background: url("/assets/images/about/claudine-andre-with-bonobo-family-md-opt-crop.jpg") no-repeat top center;
        height: 75vh;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .about-quote-section {
        height: calc(25vh - 4.5rem);
    }
    .about-note-section {
        padding: 1rem 2rem;
        margin-bottom: 2rem;
    }
    .program-section h3 {
        margin-top: 1rem;
    }
    .help-section {
        margin-bottom: 5rem;
    }
    .help-border {
        border-left: solid 2px rgba(29, 36, 42, 0.9);
    }
    .help-section .btn {
        margin-bottom: 0;
    }
    .help-section h3 {
        margin: 1rem;
    }
}

@media only screen and (min-width: 992px) {
    .callout-container {
        /* Source of the following picture is www.stock.adobe.com (URL https://stock.adobe.com/ie/images/bonobo-pan-paniscus-on-a-tree-branch/98710313?asset_id=98710313) */
        background: url("/assets/images/index/hero-image-opt.jpeg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .footer-components ul,
    #last-footer-component,
    #first-footer-component {
        margin: 0;
    }
    #six-reasons-header {
        margin-top: 3rem;
    }
    .row .first-reasons {
        padding-top: 2rem;
    }
    .one-reason {
        padding-top: 4rem;
    }
    .horizontal-line-row {
        margin-top: 2.5rem;
    }
    .about-heading-section {
        /* Source of the following picture is www.lameuse.be (URL https://www.lameuse.be/160682/article/2017-12-01/carolo-mag-claudine-carolo-du-bout-du-monde-lange-des-bonobos) */
        background: url("/assets/images/about/claudine-and-bonobo-opt.png") no-repeat top center;
        height: 75vh;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .about-note-section {
        padding: 1rem 3rem;
    }
    .rehabilitation-container img {
        max-height: 20rem;
        margin: 2rem;
    }
    .program-section h5 {
        margin: 2rem;
    }
    .help-section {
        margin-bottom: 7rem;
    }
    .help-section h3 {
        margin: 3rem;
    }
    .help-content {
        padding: 0 3rem;
    }
    #form-container {
        min-height: calc(100vh - 10.5rem)/* Used same concept as for responsive font size | source: 'stackoverflow' (URL: https://stackoverflow.com/questions/23560087/is-there-such-a-thing-as-min-font-size-and-max-font-size/39962030) */
    }
}


/* /.Media queries */