/* TESTING
.container{
    border: 5px solid green;
}

.row{
    border: 5px solid blue;
}

.my-col{
    border: 5px solid red;
}
*/



/* Body */

body{
    font-family: 'Raleway', sans-serif;
}

/* ./Body */



/* Colors */

.white-text {
    color: white;  
}

.bg-grey{
    background-color: rgba(29,36,42,0.7);
}

.bg-green{
    background-color: rgb(16, 115, 8);
}

.btn-green {
    background-color:rgb(16, 115, 8);
    border-color: rgb(16, 115, 8);
}

/* ./Colors */



/* Buttons */

.btn-success:hover {
    color: #fff;
    background-color: rgb(21, 140, 12);
    border-color: rgb(21, 140, 12);
}

.btn-outline-success{
    background-color: white;
    color: rgb(21, 140, 12);
    border-color: rgb(21, 140, 12);
}

.btn-outline-success:hover{
    color: white;
    background-color:rgb(16, 115, 8);
    border-color: rgb(16, 115, 8);
}

/* ./Buttons */



/* Reusable classes */

.horizontal-line{
    background-color: rgb(29,36,42);
    height: 2.5px;
    width: 150px;
    border-radius: 25%;
    display: inline-block;
    box-shadow: 1px 1px rgba(29,36,42,0.7);
}

/* ./Reusable classes */



/* Navbar */

.navbar{
    background-color: rgba(29,36,42,0.9);
}

.navbar-brand{
    font-weight: 700;
    font-size: 1.5rem;
}

.navbar-toggler{
    border: 0;
}

#nav-link-adopt {
    color: rgb(22, 160, 11);
    border-color: white;
    font-weight: 700;
}

.btn-navbar{
    font-size: 1.25rem;
}

button:focus {
    outline: none;
}

/* ./ Navbar */



/* Footer */

.footer-row {
    background-color: rgba(29,36,42,0.9);
    min-height: 5rem;
}

.footer-components p, .footer-components a  {
    color: white;
    font-size: 0.95rem;
    padding: 0;
}

#first-footer-component {
    margin-top: 1.5rem;
}

#last-footer-component {
    margin-bottom: 1.5rem;
}

#envelope {
    font-size: 1.1rem;
}

.social li a i, .contact i {
    width: 2rem;
    height: 2rem;
    padding: 0.75rem 0;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 0.5rem;
    background-color: rgb(105,111,117);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    text-decoration: none;
    text-align: center;
}

.social li a i:hover, .contact i:hover {
    background-color: rgb(16, 115, 8);
    outline: medium none;
}

/* /.Footer */



/* Modal */

#modal-phone .modal-body {
    text-align: center;
}


/* /.Modal */



/* Callout (index) */

.callout-container{
    height: 100vh;
    font-weight: 300;

    /* Full width background-image | source: 'CSS tricks' (URL: https://css-tricks.com/perfect-full-page-background-image/) */
    background: url("/assets/images/hero-image-mobile.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.callout-content .col-8 {
    background-color: rgba(29,36,42,0.7);
}

.callout-content h1 {
    font-weight: 300;
    font-size: calc(1.5rem + 4vw); /* Responsive font size | source: 'stackoverflow' (URL: https://stackoverflow.com/questions/23560087/is-there-such-a-thing-as-min-font-size-and-max-font-size/39962030) */
}

.callout-content p, .btn-callout {
    font-size: calc(0.75rem + 1vw);
}

.callout-content span {
    font-weight: 700;
}

.arrow-div {
    display: inline-block;
    margin-top: 8rem;
    margin-bottom: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.arrow-down {
    font-size: 2rem;
    margin-top: 0.5rem;
    -webkit-text-stroke: 2.5px rgba(29,36,42,0.9); /* Make icon lighter | source: 'stackoverflow' (URL: https://stackoverflow.com/questions/28560118/want-to-make-font-awesome-icons-thinner)*/
    -moz-text-stroke: 2.5px rgba(29,36,42,0.9);
    -o-text-stroke: 2.5px rgba(29,36,42,0.9);
}

/* /.Callout (index)*/



/* Intro program (index)*/

.program-box{
    color: white;
    border: 2px solid white;
    padding: 50px 10px;
}

.program-box i {
    font-size: 2rem;
} 

#box-question{
    opacity: 0.8;
} 

#box-question i {
    font-size: 3rem;
}

.program-box p {
     font-size: 1.25rem;
     margin: 0;
}

/* /.Intro program (index)*/



/* Call to action (index)*/

.call-to-action-link i {
    font-size: 2.5rem;
    color: rgb(29,36,42);
    padding: 5px;
} 

.call-to-action-link  a {
     font-size: 1.25rem;
     font-weight: 500;
     color:rgb(29,36,42);
     text-decoration: none;
}

.call-to-action-link:hover {
    -webkit-transform: scale(1.2);  /* Increase size on hover | source: 'stackoverflow' (URL: https://stackoverflow.com/questions/14073498/how-do-i-create-a-change-in-font-size-on-hover-without-realigning-other-text) */
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/* /.Call to action (index)*/



/* Home gallery (index)*/

.home-gallery-container p, .home-gallery-container a {
    font-weight: 500;
    text-decoration: none;
    margin: 0;
}

.home-gallery-container a, .home-gallery-container i {
    color: rgb(22, 160, 11);
}

/* /.Link gallery (index)*/



/* Media queries */

@media only screen and (min-width: 650px) {
    .callout-container{
        background: url("/assets/images/hero-image-tablet.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .navbar-brand {
        font-size: 2rem;
    }
    .nav-link {
        font-size: 1.5rem;
    }
    .call-to-action-link i {
        font-size: 3rem;
    }
    .call-to-action-link  a {
     font-size: 1.5rem;
    }
}

@media only screen and (min-width: 992px) {
    .callout-container{
        background: url("/assets/images/hero-image-opt.jpeg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .footer-components ul, #last-footer-component, #first-footer-component {
        margin: 0;
    }
}

/* /.Media queries */